# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file> 
# platform: win-64
colorama
h5py
ipython
ipykernel
ipython_genutils
keras
keras-preprocessing
matplotlib
numpy
pandas
scikit-learn
scipy
tensorflow
tensorflow-probability



